{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
Welcome to Simple Blog

<h1>Welcome to Simple Blog</h1>
<p>Check out our latest posts below:</p >
<ul>
    {% for category in categories %}
    <li>
        <a href="{% url 'category_detail' category.id %}">
            {{ category.name }}
        </a >
        <ul>
        {% for post in category.post_set.all %}
            <li>{{ post.title }}</li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
