{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}


{% block content %}
    <h1>{{ object.title }}</h1>
    {% if object.header_image %}
        <p>
            <img src="{{ object.header_image.url }}"
                 alt="{{ object.title }}">
        </p>
    {% endif %}
    <p>{{ object.body | safe }}</p>
    <p>{{ object.post_date }}</p>
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'likes_unlikes' post_id=object.id %}">
            {% if request.user in object.likes.all %}
                unlike
            {% else %}
                like
            {% endif %}
        </a>
    {% endif %}
    <p>Number of likes: {{ object.likes.count }}</p>
    
    <h3>Comments</h3>
    <form action="{% url 'add_comments' post_id=object.id %}" method="post">
        {% csrf_token %}
        <textarea cols="20" rows="5" name="comment_body" required></textarea>
        <button type="submit">Add Comment</button>
    </form>
    {% for comment in object.comments_set.all %}
        <p>{{ comment.user.username }} - {{ comment.comment_time }}</p>
        <p>{{ comment.comment_body }}</p>
    {% endfor %}
{% endblock %}