{% extends 'base.html' %}

{% block title %}
    Post List
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <a herf="{% url 'post_delete' %}" class="btn btn-success">Create New Post</a>
    {% endif %}
    <a href="{% url 'post_create' %}" class="btn btn-success">Create New Post</a>
    <ul>
    {% for post in object_list %}
        <li>
        <a href="{% url 'post_detail_view' post.id %}">
            {{ post.title }}
        </a >
        {% if user.is_authenticated %}
            {% if post.author == user %}
            <a href="{% url 'post_update' post.id %}" class="btn btn-primary">
                Update
            </a>
            <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">
                Delete
            </a>
            {% endif %}
        {% endif %}
        </li>

    {% endfor %}
    </ul>
{% endblock %}