{% extends 'base.html' %}

{% block title %}
    Post List
{% endblock %}


{% block content %}
    <a href="{% url 'post_create' %}" class="btn btn-success">Create New Post</a>
    <ul>
    {% for post in object_list %}
        <li>
        <a href="{% url 'post_detail_view' post.id %}">
            {{ post.title }}
        </a >
        <a href="{% url 'post_update' post.id %}" class="btn btn-primary">
            Update
        </a>
        <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">
            Delete
        </a>
        </li>

    {% endfor %}
    </ul>
{% endblock %}